<li class="col-md-2 col-sm-3 col-xs-6 item-book">
	<div class="col-md-12 inner">
		<div class="img-block">
			<a href="/book/<%= book.id %>/<%= book.slug %>"><img src="/books/images/<%= book.cover_url %>" alt="" /></a>
		</div>
		<h3><a href="/book/<%= book.id %>/<%= book.slug %>"><%= book.title %></a></h3>
		<p>Rs <%= book.price_inr %></p>
	</div>
</li>