<div class="col-md-12">
	<div class="col-md-8">
		<img src="/books/images/silkworm.jpg" alt="">
	</div>
	<div class="col-md-4">
		<div class="home-most-viewed">
		<% @books.each do |book| %>
			<li class="row">
					<div class="col-md-2">
						<img class="img-block" src="/books/images/<%= book.cover_url %>" alt="" />
					</div>
					<div class="col-md-10">
					<p><a href="/book/<%= book.id %>/<%= book.slug %>"><%= book.title %></a></p>
					<p>Rs <%= book.price_inr %></p>
				</div>
			</li>
		<% end %>
		</div>
	</div>
</div>