<div class="container">
	<%= erb :navigation %>
</div>
<div class="container">
	<div role="tabpanel">
			
			  <!-- Nav tabs -->
			  <ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Hotels</a></li>
			    <li role="presentation"><a href="#special" aria-controls="special" role="tab" data-toggle="tab">Special Offer</a></li>
			  </ul>
			
			  <!-- Tab panes -->
			  <div class="tab-content">
			    <div role="tabpanel" class="tab-pane active" id="home">
			    	<div class="row">
			    		<div class="col-md-8">
			    			<% @hotels.each do |hotel| %>
			    				<div class="row hotel-item">
			    					<div class="col-md-4">
			    						<img src="hotels/images/thumbs/<%= hotel.thumbnail %>" alt="" />
			    					</div>
			    					<div class="col-md-8">
			    						<span class="hotel-title"><%= hotel.name %></span>
			    						<span class="hotel-location"><%= hotel.location %></span>
			    						<p class="hotel-desc"><%= hotel.desc %></p>
			    						<span class="action"> <a class="btn btn-default btn-small" href="/hotel/<%= hotel.id %>/edit"><span class="glyphicon glyphicon-pencil"></span> Edit</a></span>
			    						<span class="action">
			    							<button class="btn btn-default btn-small delete-btn" data-name="<%= hotel.name %>" data-id="<%= hotel.id %>" data-type="hotel" data-target=".delete-modal">
			    			  				  <span class="glyphicon glyphicon-remove"></span>  Delete
			    			  				</button>
			    			  			</span>
			    			  			<form role="form" action="/hotels" method="post" id="deactivate-hotel-btn">
			    							<input type="hidden" name="_method" value="put" />
			    							<input type="hidden" name="hotel[id]" value="<%= hotel.id %>" />
			    							<input type="hidden" name="hotel[is_active]" value="<%= hotel.is_active ? "false" : "true" %>" />
			    							<input type="Submit" class="btn btn-default btn-small " value="<%= hotel.is_active ? "Deactivate" : "Activate" %>">
			    						</form>
			    					</div>
			    				</div>
			    			 <% end %>
			    		</div>
			    		<div class="col-md-4">
			    			<h3 class="title">Add New Hotel</h3>
			    			<%= erb :_new_hotel_form %>
			    		</div>
			    	</div>
			    </div>
			    <div role="tabpanel" class="tab-pane" id="special">
		    		<div class="row">
    					<div class="col-md-8">
    						<img class="special-img" src="hotels/specials/<%= @special.offer_img %>"  alt="" />
    					</div>
	    				<div class="col-md-4">		    						
	    					<h4>Change Special Offer</h4>
	    					<%= erb :_new_special_form %>
	    				</div>
	    			</div>
			    </div><!-- end tab -->
			  </div>
			
			</div>
</div>
<%= erb :_modal %>