<div class="container">
	<%= erb :navigation %>
</div>
<div class="container">
	<div class="row section">
		<div class="col-md-12">
			<h2>Hi Palmarinha!</h2>
			<p class="lead">You can change pretty much anything from this admin page.</p>
		</div>
	</div>

	<div class="row section">
		<!-- <div class="col-md-12">
			<h3 class="title">Hotels</h3>
			<a href="/hotels/new" class="btn btn-large btn-primary">Create New Hotel</a>
		</div> -->
		<div class="col-md-8">
			<!-- <ul class="list-group" id="admin-hotels-list"> -->
			  <% @hotels.each do |hotel| %>
				<div class="col-md-12">
					<div class="row hotel-item">
						<div class="col-md-4">
							<img src="hotels/images/<%= hotel.thumbnail %>" alt="" />
						</div>
						<div class="col-md-6">
							<span class="hotel-title"><%= hotel.name %></span>
							<span class="hotel-location"><%= hotel.location %></span>
							<p class="hotel-desc"><%= hotel.desc %></p>
							<span class="action"> <a class="btn btn-primary" href="/hotels/<%= hotel.id %>/edit"><span class="glyphicon glyphicon-pencil"></span> Edit</a></span>
							<span class="action">
								<button class="btn btn-primary delete-btn" data-hotel-name="<%= hotel.name %>" data-hotel-id="<%= hotel.id %>" data-target=".delete-modal">
				  				  <span class="glyphicon glyphicon-remove"></span>  Delete
				  				</button><!-- <a class="btn btn-primary">Delete</a></span> -->
						</div>
					</div>
				</div>
			  	<!-- <li class="list-group-item clearfix">
			  			<div class="img-block col-md-1">
			  				<a href="/hotels/<%#= hotel.id %>/<%#= hotel.slug %>"><img src="/hotels/images/<%#= hotel.thumbnail %>" alt="" width="40" /></a>
			  			</div>
			  			<div class="col-md-6 hotel-name">
				  			<a href="/hotels/<%#= hotel.id %>/<%#= hotel.slug %>"><%#= hotel.slug %></a>
			  			</div>
			  			<div class="col-md-5 text-right">
				  			<span class="action"><span class="glyphicon glyphicon-pencil"></span> <a href="/hotels/<%#= hotel.id %>/edit">Edit Hotel</a></span>
				  			<span class="action">
				  				<button class="delete-btn" data-hotel-name="<%#= hotel.name %>" data-hotel-id="<%#= hotel.id %>" data-target=".delete-modal">
				  				  <span class="glyphicon glyphicon-remove"></span>  Delete
				  				</button>
				  			</span>
			  			</div>
			  	</li> -->
			  <% end %>
			<!-- </ul> -->
		</div>
		<div class="col-md-4">
			<h3 class="title">Create A New Hotel</h3>
			<form role="form" action="/create" method="post" id="hotel" enctype="multipart/form-data">			
				<div class="row form-group">
					<div class="col-md-12">
						<label>Hotel Name</label><br />
						<input type="text" name="hotel[name]" id="name" class="form-control" placeholder="Hotel name" />
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-12">			
						<label>Price</label><br />
						<input type="text" name="hotel[price]" id="price" placeholder="In Rs." class="form-control" />	
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-12">
						<label for="desc">Hotel Description</label>
						<textarea name="hotel[desc]" class="form-control" id="desc"></textarea>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-12">			
						<label>Location</label><br />
						<input type="text" name="hotel[location]" id="location" placeholder="eg. Goa"  class="form-control" />	
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-12">
						<label for="thumbnail">Thumbnail</label>
						<div class="file-input-wrap">
							<input type="file" id="featured-img-picker" name="hotel[thumbnail]" class="file-picker file-inputs new-feature-file" data-demo="#demo-img" data-filename-placement="inside" title="Thumbnail" />
						</div>
					</div>
				</div>
				<div class="form-group">
						<button id="submit" type="Submit" class="btn btn-primary btn-large submit-btn">Create New Hotel</button>
				</div>
			</form>
		</div>
	</div>
</div>
<%= erb :_modal %>