<div class="col-md-12 edit-intro">
	<h3 class="title">Editing <%= @book.name %></h3>
	<p>Fields have been spatially arranged to give a representation of where they appear on the site.</p>
</div>


<form role="form" action="/update" method="post" id="book" enctype="multipart/form-data">
	<input type="hidden" name="book[id]" value="<%= @book.id %>" />
	
	<div class="col-md-4">
			<img src="/books/images/<%= @book.featured_image %>" alt="" width="300" />
			<div class="file-input-wrap">
				<input type="file" name="book[featured_image]" class="file-picker file-inputs" data-filename-placement="inside" title="Change Featured Image" />
			</div>
	</div>
	
	<div class="col-md-8">
		<div class="form-group">
		  <label>
		    <input type="radio" name="book[category_id]" id="category_id" value="1" checked>
			A Book Category
		  </label>
		</div>
		
		<div class="form-group">
			<label>Title:</label><br />
			<input type="text" name="book[name]" id="name" class="form-control" value="<%= @book.name %>" />	
		</div>
		<div class="form-group">
			<label>Desc:</label><br />
			<textarea type="text" name="book[description]" id="description" class="form-control" rows="5" value="" ><%= @book.description %></textarea>	
		</div>
		<div class="form-group">
			<label>Specifications</label><br />
			<input type="text" name="book[specs]" id="specs" class="form-control" value="<%= @book.specs %>" />	
		</div>
		
		<div class="form-group">
			
			<% if @book.in_slideshow? %>
				<input type="checkbox" name="book[in_slideshow]" checked /> Featured
			<% else %>	
				<input type="checkbox" name="book[in_slideshow]" /> Featured
			<% end %>
						
		</div>
	</div>
	
	<div class="clearfix"></div>
	
	<div class="col-md-12 edit-gallery">
		<div class="leader col-md-12">
			<span class="leader-title">Gallery Images</span>
		</div>
		<ul>
		<% @images.each do |image| %>
			<li class="gallery-item col-md-2">
				<div class="gall-img"><img src="/books/images/<%= image.url %>" alt="" width="120" /></div>
				<label for="checkbox">Delete?</label>
				<input type="checkbox" name="image[<%= image.id %>]" />
			</li>
		<% end %>
			<li class="gallery-item col-md-2">
				<div class="file-input-wrap">
					<input type="file" name="images[]" title="Add Images"  class="file-picker file-inputs" data-filename-placement="inside"  multiple />
				</div>
			</li>
		</ul>
	</div>
	
	<div class="clearfix"></div>
	
	
	
	
	<div class="row section col-md-12">
		<div class="leader col-md-12">
			<span class="leader-title">Grid Block</span>
		</div>
		
		<div class="col-md-4 col-md-offset-4 grid-block">
			<img src="/books/images/<%= @book.thumbnail %>" alt="" width="200" />
			<div class="file-input-wrap">
				<input type="file" name="book[thumbnail]" class="file-picker file-inputs" data-filename-placement="inside" title="Change Thumbnail" />
			</div>
			
			<h5 class="title"><%= @book.name %></h5>
			
			<div class="form-group">
				<label>Teaser Text</label><br />
				<input type="text" name="book[shortdesc]" id="shortdesc" class="form-control" value="<%= @book.shortdesc %>" />
			</div>
		</div>
	</div>
	
	<div class="col-md-12">
		<div class="leader col-md-12">
			<span class="leader-title">Save Changes</span>
		</div>
		
		<div class="form-group">
			<input type="Submit" value="Update" class="btn btn-primary btn-large update-btn">
		</div>
	</div>
</form>
<div class="col-md-12 delete-book-block">
	
	<button class="btn btn-primary btn-lg delete-btn" data-book-name="<%= @book.name %>" data-book-id="<%= @book.id %>" data-target=".delete-modal">
	  Delete
	</button>
	
	<%= erb :_modal %>
	
</div>