<div class="container">
	<%= erb :navigation %>
</div>
<div class="container">
	<div class="row">
		<form role="form" action="/hotels" method="post" id="hotel" enctype="multipart/form-data">
			<div class="col-md-8">
				<h3 class="title">Edit Hotel</h3>
				<input name="hotel[id]" id="hotel_id" type="hidden" value="<%= @hotel.id %>">
				<input type="hidden" name="_method" value="put">
				<div class="form-group">
					<% if @hotel.is_active %>
						<input type="hidden" name="hotel[is_active]" value="true" %><button class="btn btn-primary btn-checkbox btn-active"><span class="glyphicon glyphicon-ok"></span> Active</button>
					<% else %>
						<input type="hidden" name="hotel[is_active]" value="false" %><button class="btn btn-primary btn-checkbox btn-disabled"><span class="glyphicon glyphicon-remove"></span> Active</button>
					<% end %>
				</div>
				<div class="form-group">
					<label>Hotel Name</label><br />
					<input type="text" name="hotel[name]" id="name" class="form-control" placeholder="Hotel name" value="<%= @hotel.name %>"/>
				</div>
				<div class="form-group">			
					<label>Price</label><br />
					<input type="text" name="hotel[price]" id="price" placeholder="In Rs." class="form-control" value="<%= @hotel.price %>" />
				</div>
				<div class="form-group">
					<label for="desc">Hotel Description</label>
					<textarea name="hotel[desc]" class="form-control" id="desc"><%= @hotel.desc %></textarea>
				</div>
				<div class="form-group">			
					<label>Location</label><br />
					<input type="text" name="hotel[location]" id="location" placeholder="eg. Goa"  class="form-control" value="<%= @hotel.location %>" />
				</div>
				<div class="form-group">
					<label for="thumbnail">Thumbnail</label>
					<div class="file-input-wrap">
						<img src="/hotels/images/thumbs/<%= @hotel.thumbnail %>" alt="" width="250">
						<input type="file" id="featured-img-picker" name="hotel[thumbnail]" class="file-picker file-inputs new-feature-file" data-demo="#demo-img" data-filename-placement="inside" title="Thumbnail" />
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group pull-right">
					<button id="submit" type="Submit" class="btn btn-primary btn-large submit-btn">Edit Hotel</button>
				</div>
			</div>
		</form>
	</div>
</div>