<div class="container">
	<%= erb :navigation %>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<form role="form" action="/specials" method="post" id="special" enctype="multipart/form-data">
				<input type="hidden" name="_method" value="put" />
				<input type="hidden" name="special[id]" value="<%= @special.id %>" />
					<div class="col-md-8 form-group">
						<div class="file-input-wrap">
							<span class="label">Offer Image</span>
							<img class="edit-special-img" src="/hotels/specials/<%= @special.offer_img %>" alt="">
							<input type="file" id="offer-img" name="special[offer_img]" class="file-picker file-inputs new-feature-file" data-filename-placement="inside" title="Offer Image" />
						</div>
					</div>
					<div class="col-md-4">
						<div class="file-input-wrap form-group">
							<span class="label">Offer Document</span>
							<a class="btn btn-link" href="/hotels/specials/document/<%= @special.offer_doc %>"><%= @special.offer_doc %></a>
							<input type="file" id="offer-doc" name="special[offer_doc]" class="file-picker file-inputs new-feature-file" data-filename-placement="inside" title="Offer Document" />
						</div>
						<% if @special.is_active %>
							<input type="hidden" name="special[is_active]" value="true" %><button class="btn btn-primary btn-checkbox btn-active"><span class="glyphicon glyphicon-ok"></span> Active</button>
						<% else %>
							<input type="hidden" name="special[is_active]" value="false" %><button class="btn btn-primary btn-checkbox btn-disabled"><span class="glyphicon glyphicon-remove"></span> Active</button>
						<% end %>
						<div class="pull-right">
							<button id="submit" type="Submit" class="btn btn-primary btn-large submit-btn">Update Special Offer</button>
						</div>
					</div>
			</form>
		</div>
	</div>
</div>