<div class="container" id="navigation">
	<div class="row">
		<div class="col-md-12 text-right" id="member-area-title">
			<a href="#" class="btn">Log Out</a>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-4" id="member-area-intro">
			<a id="logo-main" class="navbar-brand" href="#">Palmarinha Holidays</a>
			<div class="clearfix"></div>
			<!--<p class="lead">Palmarinha Holidays eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque.</p>-->
			<ul>
				<li><a href="#">Affliate Resorts</a></li>
				<li><a href="#">Special Offers</a></li>
				<li><a href="#">Renew Account</a></li>
				<li><a href="#">Contact Support</a></li>
				<li><a href="#">FAQs</a></li>
			</ul>
		</div>
		<div class="col-md-8">
			<% if @specials.nil? %>
				<img src="/images/special-ad.jpg" alt="" />
			<% else %>
				<% @specials.each do |special| %>
					<a href="/hotels/specials/document/<%= special.offer_doc %>" ><img src="/hotels/specials/<%= special.offer_img %>" alt="" /></a>
				<% end %>
			<% end %>
		</div>
	</div>
	<div class="row" id="dashboard-secondary">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<h3>Resorts <small>in package</small></h3>
				</div>
				<% @hotels.each do |hotel| %>
					<div class="col-md-4 hotel-item">
						<img src="/hotels/images/<%= hotel.thumbnail %>" alt="" />
						<span class="hotel-title"><%= hotel.name %></span>
						<span class="label">Location</span> <span class="hotel-location"><%= hotel.location %></span>
						<div class="clearfix"></div>
						<p class="hotel-desc"><%= hotel.desc %></p>
						<a class="btn book-btn btn-default btn-small" data-id="<%= hotel.id %>">Book Vacation</a>
					</div>
				<% end %>				
			</div>
		</div>
	</div>	
</div>
<%= erb :_modal_book %>
