<div class="container" id="member-area-container">
	<div class="row">
		<div class="col-md-4" id="member-area-intro">
			<a id="logo-main" class="navbar-brand" href="/">Palmarinha Holidays</a>
			<div class="clearfix"></div>
			<ul>
				<li><a href="#">Affliate Resorts</a></li>
				<li><a href="#">Renew Account</a></li>
				<li><a href="/frequently-asked-questions">FAQs</a></li>
				<li><a href="#" data-toggle="modal" data-target="#support-modal">Member Support</a></li>
				<li>
					<form method="post" action="/logout">
						<button type="submit" class="btn btn-default">Log Out</button>
					</form>
				</li>
			</ul>
		</div>
		<div class="col-md-8">
			<div class="special-wrap">
				<% if !@special.nil? %>
					<a href="/hotels/specials/document/<%= @special.offer_doc %>" ><img src="/hotels/specials/<%= @special.offer_img %>" alt="" /></a>
				<% end %>
			</div>
		</div>
	</div>
	<div class="row" id="dashboard-secondary">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<h3>Resorts <small>in package</small></h3>
				</div>
				<% @hotels.each do |hotel| %>
					<div class="col-md-4 hotel-item">
						<div class="hotel-thumb">
							<img src="/hotels/images/<%= hotel.thumbnail %>" alt="" />
						</div>
						<span class="hotel-title"><%= hotel.name %></span>
						<span class="label">Location</span> <span class="hotel-location"><%= hotel.location %></span>
						<% if !hotel.url.nil? %>
							<span class="hotel-website"><a href="<%= hotel.url %>">Website</a></span>
						<% end %>
						<div class="clearfix"></div>
						<p class="hotel-desc"><%= hotel.desc %></p>
						
						<span class="hotel-price">Rate: <%= hotel.price %></span>
						<a class="btn book-btn btn-default btn-small" data-id="<%= hotel.id %>">Book Vacation</a>
					</div>
				<% end %>
			</div>
		</div>
	</div>	
</div>
<%= erb :_modal_book %>
<%= erb :_modal_member_support %>