<div class="row section book-main">
	<div class="col-sm-6 col-md-5 img-col">
		<img src="/books/images/<%= @book.cover_url %>" alt="" />
	</div>
	<div class="col-sm-6 col-md-7 details">
		<ol class="breadcrumb">
		  <li><a href="/category/<%= @category.id %>/<%= @category.name%>"><%= @category.name %></a></li>
		  <li class="active"><%= @book.title %></li>
		</ol>
		
		<h3 class="title"><%= @book.title %></h3>
		Author: <a href="/author/<%= @author.id %>/<%= @author.name%>"><%= @author.name%></a><br/>Publisher: <a href="/publisher/<%= @publisher.id %>/<%= @publisher.name%>"><%= @publisher.name%></a> <br/> <%= @book.type %> (PP: <%= @book.printed_pages %>)
		
		<p class="description"><%= @books_desc %></p>
		
		<p>
			Rs <%= @book.price_inr%><br/>
			<a class="btn btn-primary btn-large buy-link" href="#">Buy now</a>
		</p>
		
	</div>
</div>

<!-- <div class="row section book-gallery"> -->
	<!-- <div class="leader col-md-12">
		<span class="leader-title"><span class="glyphicon glyphicon-th-large"></span> Book Images</span>
	</div> -->
	<!-- <ul class="gallery-items col-md-12">
	<%# @images.each do |image| %>
		<li class="gallery-item">
			<img src="/books/images/<%#= image.url %>" alt="" width="200" />
		</li>
	<%# end %>
	</ul> -->
	<!-- <div class="specs-wrap text-center col-md-12">
		<span class="specs-title">Type: </span>
		<span class="specs"><%= @book.type %></span>
	</div> -->
<!-- </div> -->

<!--div class="row section inquiry-form">
	<div class="leader col-md-12">
		<span class="leader-title"><span class="glyphicon glyphicon-comment"></span> Get a quote</span>
	</div>
	<%#= erb :_inquiry_form %>
</div-->




<div class="row section featured-books">
	<div class="leader col-md-12">
		<span class="col-md-8 leader-title"><span class="glyphicon glyphicon-th"></span> Similar Books</span>
		<span class="col-md-4"><a class="browse-more" href="/books">Browse all similar books</a></span>
	</div>
	<% @books.each do |book| %>
	<%= erb :'partials/_book', :layout => false, :locals => { :book => book } %>
	<% end %>
</div>

<div class="row section featured-books">
	<div class="leader col-md-12">
		<span class="col-md-8 leader-title"><span class="glyphicon glyphicon-th"></span>From this Author</span>
		<span class="col-md-4"><a class="browse-more" href="/author/<%= @author.id %>/<%= @author.name%>">Browse this author's books</a></span>
	</div>
	<% @author_books.each do |book| %>
	<%= erb :'partials/_book', :layout => false, :locals => { :book => book } %>
	<% end %>
</div>
